<h1>data</h1>

<%# use this for notes https://chartkick.com/%>
<%#= line_chart [{name: "with", data: @w_covid},{name: "pui", data: @pui},{name: "discharged", data: @discharged},{name: "expired", data: @expired}], curve: false, xtitle: "date", ytitle: "cases" %>

<div class="row">
    <%= render "daily_count" %>
    <%= render "cumulative_trend" %>
</div>
<div class="row">
    <%= render "daily_covid_dist" %>
    <%= render "daily_pui_dist" %>
</div>